.notinclude {
    color: grey;
    background-color: white;
}

.include {
    color: black;
    background-color: grey;
}

#next, #prev {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    border: solid black 1px;
}

table ,tr, td{
    text-align: center;
    border: solid black 1px;
}